body
{
    background-color: #191716;
    color: white; 
    justify-content: center;

}

/* sara, NYC, email */
.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  color: red; /* Replace with the desired hover color */
}




.title{
  font-style: italic;
  text-align: center;
  margin-top: 50px;
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  color: red; /* Replace with the desired hover color */
}

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}




.contact {
  margin-top: 5%; /* Adjust the distance from the bottom */
  margin-left: 5%; /* Adjust the distance from the right */
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 2px; /* Add space between links */
}


.contact a:hover {
  color: red; /* Replace with the desired hover color */
}



p {
  font-size: 16px;
  text-align: left; /* Align text to the left */
}

p1 {
  font-size: 12px;
  font-style: italic;
  text-align: left; /* Align text to the left */
}



.intro {
  display: flex;
  justify-content: center;
  padding-bottom: 60px; /* Adjust the padding as needed */
  margin-top: 20px;
}

.photo {
  width: 30%;
  margin-right: 5%; /* Adjust the spacing between the photo and text box */
  margin-bottom: 10%;
}

.text {
  width: 20%; /* Adjust the width as needed */
  text-align: left; /* Align text to the left */
  font-family: 'Calibri', sans-serif;
}

/* To ensure the photo and text box don't exceed the height of each other */
.photo img,
.text {
  max-width: 100%;
}

/* Centering the text box vertically within the container */
.intro {
  flex-direction: row; /* Display content in a row */
}




/* Add styles for the hamburger menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  display: none;
  position: fixed;
  top: 60px; /* Adjusted the top position to leave space for the text */
  right: 0;
  background-color: #191716;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; /* Align the text to the right */

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.menu a:hover {
  color: red; /* Replace with the desired hover color */
}



@media only screen and (max-width: 767px) {
  /* Adjust styles for iPhones or smaller screens */

  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns - adjust as needed */
    gap: 20px; /* Adjust the gap between the columns */
    width: 100%; /* Change width to 100% to remove extra space */
  }
  
  .photo {
    width: 200%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: auto; /* Two rows - adjust as needed */
  }
  
  .photo img {
    width: 100%; /* Make the image fill its container */
  }
  
  .contact {
    margin-left: -1%;
    text-align: right;
  }
  
  .text {
    grid-column: span 2; /* Span across both columns */
    padding: 10px;
    margin-left: 3%;
    width: 80%;
  }
  


  .nav a {
    font-size: 10px;
  }

  .bottom-nav a {
    font-size: 10px;
  }
  .copyright a {
    font-size: 10px;
  }
  
}
