
body
{
    background-color: #191716;
    color: white; 
    justify-content: center;

}

/* sara, NYC, email */
.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  color: red; /* Replace with the desired hover color */
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  color: red; /* Replace with the desired hover color */
}

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}





h1 {
  font-size: 8.5vw;
  font-family: 'Calibri', sans-serif;
  text-align: center;
}




p {
  font-size: 3vw;
  font-family: 'Calibri', sans-serif;
  font-style: italic;
  text-align: center;
}



.banner {
  position: relative; /* Set the positioning context for absolute positioning */

}

.banner h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text precisely */
  z-index: 2;
  white-space: nowrap; /* Ensure the text stays on one line */
}

.banner p {
  position: absolute; /* Position the text elements absolutely within the banner */
  top: 65%; /* Adjust the vertical position */
  left: 50%; /* Center the text horizontally */
  transform: translate(-50%, -50%); /* Center the text precisely */
  z-index: 2; /* Ensure the text is above the image */
}

.banner .photo img {
  margin-top: 5%;
  width: 80%; /* Set the width of the image */
  display: block; /* Make the image a block element to center it */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
  z-index: 1; /* Ensure the image is below the text */
}




.photo-guide {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 10%; /* Adjust the bottom margin as needed */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}




.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax values as needed */
  gap: 10px;
  padding: 10px;
  margin: 0 auto; /* Center the grid horizontally */

}



.grid-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-link img {
  width: 70%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-link img:hover {
  transform: scale(1.1);
}



/* text in photo guide */
.photo-guide h1 {
  font-size: 4.3vw;
}

.photo-guide p {
  font-size: 18px;
}







/* intro text */


.description {
  width: 55%;
  margin: 0 auto; 
}

.description p {
  font-size: 16px; /* Adjust the font size as needed */
  padding-top: 5%;
  padding-bottom: 5%;

}



/* drop down menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}



.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  display: none;
  position: fixed;
  background-color: #191716;
  top: 60px; /* Adjusted the top position to leave space for the text */
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; /* Align the text to the right */

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.menu a:hover {
  color: red; /* Replace with the desired hover color */
}



@media only screen and (max-width: 767px) {
  /* Adjust styles for iPhones or smaller screens */
  body {
    font-size: 14px;
  }

  
  .banner h1 {
    position: absolute;
    top: 45%;
    left: 50%;

  }
  
  .banner p {
    top: 65%; /* Adjust the vertical position */

  }
  
  .banner .photo img {
    margin-top: 10%;
    width: 90%; /* Set the width of the image */
    padding-top: 10%;
  }

  .description {
    width: 85%;
    margin: 0 auto; /* Center the element horizontally */
  }

  .nav a {
    font-size: 12px;
  }

  .bottom-nav a {
    font-size: 12px;
  }
  .copyright a {
    font-size: 12px;
  }

}
