body
{
    background-color: #191716;
    color: white; 
    justify-content: center;

}



/* sara, NYC, email */
.nav {
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3; /* Set a higher z-index to ensure the nav is above the banner */

}

.nav a {
      content: '\2022'; /* Unicode character for a bullet point */
  
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
}

/* about, resume */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}



/* copyright */

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}


p {
  font-size: 16px;
  font-family: 'Calibri', sans-serif;
  text-align: center;
}


.text{
  width: 30%;
}


.intro .photo img {
  width: 30%; /* Adjust the percentage as needed */
  max-width: 100%; /* Ensure the image doesn't exceed its natural size */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any default spacing around the image */
  margin: 0 auto; /* Center the image horizontally within its container */
}



.title{
    font-family: 'Calibri', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 10%;
  }
  


.works {
  width: 70%;
  text-align: center;
  margin: 0 auto; /* This will center the element horizontally */
  margin-bottom: 2%;
}

.heading p {
  margin: 10%;
  display: inline;
  font-style: italic;
}

.interactive-heading p {
  margin: 20%;
  display: inline;
  font-style: italic;
}

.caption {
  width: 70%; /* Adjust the width as needed */
  margin: 0 auto; /* This centers the element horizontally */
}

.caption p {
  width: 100%; /* Adjust the width of the paragraphs if needed */
  text-align: center;
}


img{
  width: 40%;
}

.one{
margin-top: 10%;
margin-bottom: 10%;
}

.two{
margin-top: 10%;
margin-bottom: 10%;
}


.three{
margin-top: 10%;
margin-bottom: 10%;
}
  
.four{
margin-top: 10%;
margin-bottom: 10%;
}

.five{
margin-top: 10%;
margin-bottom: 10%;
}
  
.six{
margin-top: 10%;
margin-bottom: 10%;
}
     
.seven{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  .eight{
    margin-top: 10%;
    margin-bottom: 10%;
    }

    .nine{
      margin-top: 10%;
      margin-bottom: 10%;
      }
      .ten{
        margin-top: 10%;
        margin-bottom: 10%;
        }
        .eleven{
          margin-top: 10%;
          margin-bottom: 10%;
          }
          .twelve{
            margin-top: 10%;
            margin-bottom: 10%;
            }
            .twelve img{
              width: 30%;
            }
            .thirteen{
              margin-top: 10%;
              margin-bottom: 10%;
            }
            .gif{
              margin-top: 10%;
              margin-bottom: 10%;
            }

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* Adjust the gap between images */
  padding: 20px; /* Adjust padding as needed */
  margin-bottom: 10%;
}


.photo-grid .works{
  width: 50%;
}

.grid-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1.6;

}

.film {
  width: 100%; /* Take up the full width of the parent container */
  
}

.film .heading p{
  margin: 17%;
  display: inline;
}

video {
  width: 70%;
  height: 50%;
  object-fit: cover; /* Ensure the video covers the entire .film container while maintaining aspect ratio */
}

.photo-quote p{
  font-size: smaller;
  text-align: left;
  margin: 0 auto;
  width: 35%;
  margin-bottom: 5%;
}

.interactive-quote p{
  font-size: smaller;
  text-align: left;
  margin: 0 auto;
  width: 30%;
}

iframe {
  width: 100%;
  height: 60vh; /* Adjust the percentage based on your preference */
  border: none;
  display: block;
  margin: auto;
  padding-top: 10px;
}




/* Add styles for the hamburger menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  display: none;
  position: fixed;
  top: 60px; /* Adjusted the top position to leave space for the text */
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; /* Align the text to the right */

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}



/* slideshow */

#slider-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 50%;
}

#image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  z-index: 1; 
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}


/* Additional styles for the second slideshow */
#slider-container-2 {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 50%;
}

#image-slider-2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#prev-2,
#next-2 {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  z-index: 1;
}

#prev-2 {
  left: 30px;
}

#next-2 {
  right: 30px;
}






/* Media query for screens with a maximum width of 767 pixels (typical for iPhones) */
@media only screen and (max-width: 767px) {
  /* Adjust styles for iPhones or smaller screens */
  body {
    font-size: 14px;
  }
}