body
{
    background-color: #191716;
    color: white; 
    justify-content: center;

}


p {
  font-size: 16px;
  font-family: 'Calibri', sans-serif;
  text-align: center;
}



/* sara, NYC, email */
.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 3;
}

.nav a {
  content: '\2022';
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.top-links:hover a {
  color: red; /* Replace with the desired hover color */
}





/* dropdown menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 4;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu {
  display: none;
  position: fixed;
  background-color: #191716;
  top: 60px; /* Adjusted the top position to leave space for the text */
  right: 0;
  padding: 15px;
  flex-direction: column;
  z-index: 3;
  text-align: right; /* Align the text to the right */

}

.menu a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}


.menu a:hover {
  color: red; /* Replace with the desired hover color */
}

/* about, resume */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.bottom-nav a:hover {
  color: red; /* Replace with the desired hover color */
}


/* copyright */

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.copyright a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}


/* works */

.title{
  font-family: 'Calibri', sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 10%;
  font-size: 2vw;
}

.works {
  width: 70%;
  text-align: center;
  margin: 0 auto; /* This will center the element horizontally */
  margin-bottom: 2%;
}



.heading{
  margin: 1%;
}
.heading p {
  font-style: italic;
}



.caption {
  width: 70%; /* Adjust the width as needed */
  margin: 0 auto; /* This centers the element horizontally */
}

.caption p {
  width: 100%; /* Adjust the width of the paragraphs if needed */
  font-size: smaller;
}


img{
  width: 40%;
}







/* photography */


.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* Adjust the gap between images */
  padding: 20px; /* Adjust padding as needed */
  margin-bottom: 10%;
}


.photo-grid .works{
  width: 50%;
}

.grid-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1.6;

}

.film {
  width: 100%; 
}

.film .heading p{
  margin: 17%;
  display: inline;
}

video {
  width: 70%;
  height: 50%;
  object-fit: cover; 
}





/* interaction */

.interactive-quote p{
  font-style: italic;
  font-size: smaller;
  text-align: left;
  margin: 0 auto;
  width: 40%;
}

iframe {
  width: 100%;
  height: 60vh; /* Adjust the percentage based on your preference */
  border: none;
  display: block;
  margin: auto;
  padding-top: 10px;
}




/* typography */

/* music club */
.music-club img{
    height: 200px; /* Set a specific height value */
    width: auto;  /* Maintain the aspect ratio */
  }
.music-club {
  font-style: italic;
}


/* slideshow */

#slider-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 50%;
}

#image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  z-index: 1; 
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}

/* 2nd slideshow */

#slider-container-2 {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 50%;
}

#image-slider-2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#prev-2,
#next-2 {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  z-index: 1;
}

#prev-2 {
  left: 30px;
}

#next-2 {
  right: 30px;
}



/* general art */


.one{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .two{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  
  .three{
  margin-top: 10%;
  margin-bottom: 10%;
  }
    
  .four{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .five{
  margin-top: 10%;
  margin-bottom: 10%;
  }
    
  .six{
  margin-top: 10%;
  margin-bottom: 10%;
  }
       
  .seven{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .eight{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .nine{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .ten{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  .eleven{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .twelve{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .twelve img{
  width: 30%;
  }
  
  .thirteen{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  
  .gif{
  margin-top: 10%;
  margin-bottom: 10%;
  }
  



















/* phone media queries */


@media only screen and (max-width: 767px), (max-device-width: 767px) {
  .works {
    width: 100%;
  }

  .interactive-quote p {
    width: 90%;
  }

  .caption {
    margin: 0 auto;
  }
  
  .heading{
    margin: 2%;
  }

  .heading p {
    margin: 10%;
    display: inline;
  }



  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    padding: 20px; 
    margin-bottom: 10%;
  }

.title h1{
padding-top: 10%;
font-size: 5vw;
}

#slider-container {
  width: 200%;

}

.nav a {
  font-size: 10px;
}

.bottom-nav a {
  font-size: 10px;
}
.copyright a {
  font-size: 10px;
}


  }
